/* p{
    color:  white;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

::selection {
    background-color: #4f4f4f;
    color: #C87E4F;
}

::-webkit-scrollbar {
    width: 8px
}

ul {
    list-style: none;
    padding: 10px;
    width: 100%;
}

nav>.container-fluid {
    display: flex;
}

nav>.container-fluid>a {
    flex: 1;
}

nav>.container-fluid>ul {
    flex: 2;
    gap: 50px;
}

nav>.container-fluid>.bar {
    display: none;
}

#demo .carousel-inner .carousel-item>img {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
}

/* Coffee Brand */

/* About Style start*/
#about {
    max-width: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding: 60px 0;
}

#about .aboutimg {
    padding: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

#about .aboutimg img {
    height: 450px;
    width: 350px;
    border: 5px solid #000000b0;
    border-radius: 5px;
}

#about .aboutimg .imgside {
    height: 100px;
    width: 400px;
    position: absolute;
    bottom: 50px;
    right: 41px;
    border-radius: 5px;
    border: 5px solid #C87E4F;
    background-color: rgba(255, 255, 255, 0.695);
    display: flex;
}

#about .aboutimg .imgside i {
    margin: 8% -16px;
    background: white;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}

#about .aboutimg .imgside p {
    padding: 20px;
    margin: 0px;
}

#about .aboutcontaint {
    flex: 1;
    padding: 60px 0;
}

#about .aboutcontaint h5 {
    padding: 10px 0;
    color: #C87E4F;
    font-style: italic;
}

#about .aboutcontaint p {
    max-width: 50%;
    color: black;
}

#about .aboutcontaint ul {
    display: flex;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
}

#about .aboutcontaint ul li:nth-child(1) {
    color: #C87E4F;
}

#about .aboutcontaint .aboutbtn button:nth-child(1) {
    background-color: #C87E4F;
    color: white;
}

/* About Style end*/

/* Menu Style Start */
#menu .container-fluit {
    background-color: #2C3034;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
}

#menu .container-fluit h5 {
    color: #C87E4F;
}

#menu>div>h2 {
    color: white;
}

#menu>div>p {
    color: white;
}

#menu .container-fluit .tbl {
    display: flex;
}

#menu>.container-fluit>.tbl>ul {
    flex: 2;
    height: 447px;
    max-height: 447px;
    overflow-y: auto;
}

#menu .container-fluit .tbl li {
    background-color: white;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

#menu .container-fluit .tbl li img {
    width: 75px;
    border-radius: 5px;
    max-width: 100px;
    max-height: 100px;
    flex: 1;
}

#menu .container-fluit .tbl li p {
    color: black;
    flex: 10;
    margin: 0;
    padding: 0 5px;
}

#menu .container-fluit .tbl li .amt {
    flex: 2;
    border-left: 3px solid #a9a9a9;
    padding: 10px 5px;
}

#menu .container-fluit .tbl .tbltime {
    flex: 1;
    padding: 0 10px;
}

#menu .container-fluit .tbl .tbltime>ul {
    padding: 0px;
    background-color: white;
    margin: 0;
    width: 100%;
}

#menu .container-fluit .tbl .tbltime>ul>h6 {
    padding: 10px;
    text-align: center;
    background: #C87E4F;
    color: white;
    font-weight: 600;
}

#menu .container-fluit .tbl .tbltime>ul>li {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid lightgray;
}

/* Barnd */
#menu .coffeebranf {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#menu .coffeebranf h6 {
    padding: 10px;
    color: #C87E4F;
    letter-spacing: 1px;
}

#menu .coffeebranf img {
    width: 200px;
    opacity: 0.5;
    transition: 2s all;
}

#menu .coffeebranf img:hover {
    opacity: 1;
    transition: 1s all;
}

/* Menu Style End */

/* Review Style Start */
#review {
    background-color: #dfdfdf;
}

#review>div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#review>div>.reviewtext {
    max-width: 90%;
}

#review>div>.reviewtext>h6 {
    color: #C87E4F;
    padding: 10px;
}

#review>div>.reviewtext>p {
    color: black;
    padding: 10px;
    letter-spacing: 1px;
}

#review>div>.reviewslider>img {
    width: 100%;
    height: 600px;
}

#review>div>.reviewslider {
    position: relative;
    width: 90%;

}

#review>div>.reviewslider>.reviewsliderbtn {
    height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px solid black;
}

#review>div>.reviewslider>.reviewsliderbtn>a {
    text-decoration: none;
    font-size: 100px;
    color: white;
    opacity: 0.5;
    padding: 10px;
}

#review>div>.reviewslider>.reviewcontent {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 10px;
}

#review>div>.reviewslider>.reviewcontent>i {
    font-size: 25px;
    font-weight: bold;
    color: #C87E4F;
}

#review>div>.reviewslider>.reviewcontent>p {
    margin: 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#review>div>.reviewslider>.reviewcontent>h6 {
    font-weight: 600;
}

#review>div>.reviewslider>.reviewsliderbtn>a:hover {
    opacity: 1;
}

/* Review Style End */
/* Coffee style Start */
#coffee>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    width: 100%;
}

#coffee>div>h2 {
    padding: 20px 0;
}

#coffee>div>p {
    width: 34%;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    color: black;
    padding: 20px 0;
}

#coffee>div>.search {
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 10px #C87E4F;
}

#coffee>div>.search>input {
    border: navajowhite;
    padding: 0 10px;
}

#coffee>div>.search>button {
    padding: 5px;
    width: 100px;
    border: none;
    background-color: #C87E4F;
    color: white;
}

#coffee>div>.reviewsocialicon {
    font-size: 25px;
    padding: 10px;
}

/* Coffee style End */

/* Footer style start */
#footer {
    background: #222222;
    color: #a9a9a9;
    padding: 10px;
}

#footer>.container {
    display: flex;
    flex-direction: row;
}

#footer>.right {
    text-align: center;
}

#footer>.container>.coffeaddress {
    flex: 1;
}

#footer>.container>.coffeefooterlink {
    flex: 2;
    display: flex;
}

#footer>.container>.coffeefooterlink>div {
    flex: 1;
}

#footer>.container>.coffeefooterlink>div>li>span {
    color: white;
}

/* Footer style end */


/* All Media Query Start*/
@media (max-width:800px) {
    #review>div>.reviewtext {}
}

@media screen and (max-width:992px) {
    #review>div {
        width: 100%;
        max-width: 100%;
    }

    #review>div>.reviewtext {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width:980px) {}

@media (max-width:900px) {}

@media (max-width:800px) {}

@media (max-width:798px) {}

@media (max-width:780px) {
    #menu>div>.tbl {
        transition: 1s all;
        flex-direction: column;
    }

    #menu>.container-fluit>.tbl>ul {
        transition: 1s all;
        width: 100%;
        padding: 0px 10px 0px 0px;
    }

    #menu .container-fluit .tbl .tbltime {
        padding: 0;
    }
}

@media (max-width:600px) {}

@media (max-width:624px) {
    nav>.container-fluid>ul {
        display: none;
    }

    #demo>.carousel-inner>.carousel-item>img {
        height: 50vh;
        max-height: 50vh;
    }

    .carousel-caption {
        top: 10rem !important
    }

    nav>.container-fluid>.bar {
        display: block;
        color: white;
    }

    #abouts>#about {
        flex-direction: column;
    }

    #abouts>#about>.aboutcontaint {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #abouts>#about>.aboutcontaint>ul {
        justify-content: center;
    }

    #menu>div>.tbl {
        transition: 1s all;
        flex-direction: column;
    }

    #review>div {
        padding: 10px;
        max-width: 100%;
    }

    #review>div>.reviewtext {}

    #review>div>.reviewslider {
        width: 100%;
    }

    #review>div>.reviewslider>img {
        width: 100%;
        height: 450px;
    }

    #menu>.container-fluit>.tbl>ul {
        transition: 1s all;
        width: 100%;
        padding: 0px 10px 0px 0px;
    }

    #menu .container-fluit .tbl .tbltime {
        transition: 1s all;
        width: 100%;
    }

    #coffee>div {
        padding: 0px;
    }

    #coffee>div>p {
        width: 90%;
    }

    #footer>.container {
        transition: 1s all;
        flex-direction: column;
        padding: 20px 0 0 0;
    }

    #footer>.right {
        text-align: center;
    }
}

@media (max-width:576px) {}

@media screen and (max-width:500px) {
    #about>.aboutimg>.imgside {
        transition: 1s all;
        width: 350px;
    }
}

@media screen and (max-width:400px) {
    #about>.aboutimg>.imgside {
        transition: 1s all;
        width: 300px;
    }

    #about>.aboutimg>.imgside>i {
        margin: 10% -16px;
    }

    #review>div>.reviewslider>.reviewcontent>p {
        width: 100%;
        font-size: 13px;
    }
}

@media screen and (min-width:250px) {}

/* @media (max-width:768px) {
    
} */
/* All Media Query End*/